{
  "trailingComma": "es5",
  "printWidth": 90,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.json", "*.cjs"],
      "options": {
        "trailingComma:": "none",
        "singleQuote": false,
        "tabWidth": 2,
        "quoteProps": "preserve"
      }
    }
  ]
}
