.socials {
  display: flex;
  align-items: center;
  gap: 23px;

  width: fit-content;
  padding: 6px 26px;
  border: 4px solid var(--white);
  border-radius: 20px;

  background-color: var(--blue);

  li {
    display: flex;
    align-items: center;

    a {
      height: 32px;
    }
  }
}
